doctype html
html
  head
    script(type='text/javascript', src=wsAddress + '/socket.io/socket.io.js')
    
    link(href='/images/favicon.ico', rel='icon', type='image/ico')
    meta(charset='utf-8')
    title Mots.js
    link(href='stylesheets/mfl.css', media='screen', rel='stylesheet', type='text/css')
    script(data-main='javascripts/game/mflEngine', src='javascripts/lib/require.min.js')


  body
    // Loading page
    #loading-panel.ui.ui-displayed

    // Login page
    #login-panel.ui
      header
        .lp-case.lp-title M
        .lp-case.lp-title O
        .lp-case.lp-title T
        .lp-case.lp-title S
        .lp-case.lp-title .
        .lp-case.lp-title J
        .lp-case.lp-title S
      section#lp-infos
        // <label>Votre pseudo ></label>
        input#lp-nick(type='text', value='', placeholder='Votre pseudo')
        #lp-logos
        input#lp-start-btn(type='button', value='Jouer !')

      // Game screen
      #game-panel.ui
        section#gs-chat
          #gsc-messages
          textarea#gsc-write(placeholder='Votre message', tabindex='-1')
          #gsc-command-start.gsc-button 
          #gsc-command-grid.gsc-button 
        section#gs-grid-container
        section#gs-scores

      // Error screen
      #error-panel.ui
        h1#ep-title Ooooops !
        strong#ep-text Something goes wrong
      #info-tooltip
